<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<LINK REL=StyleSheet HREF="https://www.bestgrid.org/sites/all/themes/bestgrid/style.css" TYPE="text/css" MEDIA=screen>
<style>
.form-field * {
    vertical-align: middle;
}

.errorlist {
	color: red;
}
</style>
{% block head %}{% endblock %}
</head>

<body style="background-color:#FFFFFF">

 <div id="header-region" class="clear-block"></div>

    <div id="wrapper">
    <div id="container" class="clear-block">

      <div id="header">
        <div id="logo-floater">
        	<img src="/registration/templates/reg.png"/>
        	
        	<!--<h1><a href="/" title=""><img src="http://www.bestgrid.org/sites/bg50.bestgrid.org/files/bestgrid_logo.gif" alt="" id="logo" /></a></h1> -->
   		</div>
      </div>

 <div id="block-search-0" class="clear-block block block-search">

<div id="Content">

{% block content %} {% endblock %}

</div>

</body>

</html>