{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

function display(action, id, link)
{
if (action == 'show')
{
document.getElementById(id).style.display = "block";
document.getElementById(link).style.display = "none";
}

if (action == 'hide')
{
document.getElementById(id).style.display = "none";
document.getElementById(link).style.display = "block";
}
}

</script>
{% endblock %}

{% block content %}

<p>Welcome <b>{{dn}}</b>!</p>

{% if requestSubmitted %}
<p><font color='green'>Your request for group membership has been submitted. Click <a href="/resubmit/">here</a> to re-submit.</font></p>
{% else %}
<p> You are a member of the following groups:
<ul>
 {% for g in userGroups %}
  <li>{{g}}</li>
 {% endfor %}
</ul>
<form action="/registration/" method="post">
<a id="showlink" href="javascript:display('show', 'group_selection','showlink')">Select Groups (Click to Expand)</a>
<div id="group_selection" style="display:none;">
<a href="javascript:display('hide', 'group_selection','showlink')">Select Groups (Hide)</a>
<p>You can apply for the following groups:</p>
<div class="form-field">
<div style="overflow: auto; height: 300px; width: 600px">
{% for g in groups %}
	<input type="checkbox" name="apply_group" value="{{g.0}}" />
	<label for="{{g.0}}">{{g.1}}</label>
{% endfor %}
</div>
</div>
</div>
{{ form.as_p }}
<input type="submit" value="Submit Membership Request" />
</form>
</p>
{% endif %}

{% endblock %}