	{% extends "base.html" %}

{% block head %}
<script type="text/javascript">

function display(action, id, link)
{
  if (action == 'show')
  {
      document.getElementById(id).style.display = "block";
      document.getElementById(link).style.display = "none";
    }

  if (action == 'hide')
  {
     document.getElementById(id).style.display = "none";
     document.getElementById(link).style.display = "block";
  }
}


</script>
{% endblock %}

{% block content %}

<p>Welcome <b>{{dn}}</b>!</p>

{% if requestSubmitted %}
<p ><font color='green'>Your request for group membership has been submitted. Click <a href="/resubmit/">here</a> to re-submit.</font></p>
{% else %}
 {% if userGroups %}
  <p> You are a member of the following groups:
  <ul>
   {% for g in userGroups %}
    <li>{{g}}</li>
   {% endfor %}
  </ul>
 {% else %}
  <p>You are currently not a member of any groups.</p>
 {% endif %}
<form action="/registration/" method="post">
{{ form.non_field_errors }}


{{form.email.errors}}
<label for="id_email">Preferred email address:</label>
{{form.email}}
{{form.phone.errors}}
<label for="id_phone">Please provide a contact phone number in case we need to contact you urgently:</label>
{{form.phone}}
{{form.message.errors}}
<label for="id_phone">Please describe your research aims, limitations and any requirements or assistance you may need. If you have submitted an application via the NeSI webiste we will already have this information:</label>
{{form.message}}
{{form.groups.errors}}
<p>
<a style="color: #027AC6;text-decoration: none;" id="expand_link" onclick="document.getElementById('groups').style.display = 'block';document.getElementById('expand_link').style.display = 'none';">Groups To Apply For (Click To Expand):</a>
</p>
<div id="groups" style="display: none;">
<a style="color: #027AC6;text-decoration: none;" onclick="document.getElementById('groups').style.display = 'none';document.getElementById('expand_link').style.display = 'block'">
<p>Please select any groups you would like to apply for. Groups provide access to shared resources and licensed software. Note that we need to confirm your request with group administrators.</p>
Avaliable groups (Click To Hide):</a>
{{form.groups}}
</div>
<input type="submit" value="Submit Membership Request" />
</form>
</p>
{% endif %}

{% endblock %}
